body{
	font-family: 'Galada', cursive;
	color: #D1E4E6;
	background-color: #212224;
	word-spacing: 5px;
	margin: 10%;
	margin-top: 5%;


}

div{
	width: 40%;
}



input[type=submit], input[type=file]{
	background-color:#3b3b3b;
	border: #D1E4E6;
	margin-right: 10%;
	margin-top: 10%;
	
}

h1{
	font-size: 100%;
	color: white;
	font-weight: 100;
}
#tips {
	width: 100%;
	font-size: 80%;
}
#tips1 {
	width: 100%;
	margin-left: 5%;
}




header{
	text-align: center;
	/*margin-top: 10px;*/
	font-size: 150%;
	color: white;
}

#btnUpload{
	margin-top: 10%;
	margin-right: 50%;
}
p{
	font-weight: 100;
}

